{% extends "base.html" %}

{% block headTags %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block nav %}
  <li><a href="{{ url_for('home_bp.index') }}">Home</a></li>
  <li><a href="{{ url_for('projects_bp.index') }}">Projects</a></li>
  <li><a href="{{ url_for('contact') }}">Contact</a></li>
  <li><a href="{{ url_for('about_bp.index') }}" class="active">About</a></li>
{% endblock %}

{% block content %}
  <img class="splash" src="{{ url_for('static', filename='images/aboutSplash.JPG') }}" >
  <div class="content">
    <!-- Title -->
    <div class="panel title">
      <img src="{{ url_for('static', filename='icons/about.svg') }}">
    </div>

    <!-- Paragraphs -->
    <div class="paragraphs panel">
      <div>
        <div class="paragraph">
          <h3>Who am I?</h3>
          <p>My name is Roberto Cardenas, I am a Web Developer based in Berkeley, California. I have worked on and off as a Web Developer for the last 5 years in tandem with my school work, starting off as full stack and over time developing a stronger interest in design and front end development.</p>
        </div>
        <div class="paragraph">
          <h3>What am I interested in?</h3>
          <p>I am interested in building sites that are useful, easy to navigate and beautiful to look at. I believe being able to present content clearly through design is what truly makes or breaks a website.</p>
        </div>
        <div class="paragraph">
          <h3>Fun Facts!</h3>
          <ul>
            <li><p>I really enjoy reading manga! The design for this portfolio was heavily inspired by the paneling and fonts used by Tatsuki Fujimoto, one of my favorite authors.</p></li>
            <li><p>I love cooking and eating good food! Especially trying new recipes I see online.</p></li>
            <li><p>I have a cat! Her name is Cajeta and she is a menace to society.</p></li>
          </ul>
        </div>
      </div>
      <div class="links">
        <a target="_blank" href="https://github.com/Roberto-Cardenas">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/roberto-cardenas-2a3642236/">Linkedin</a>
        <a target="_blank">Resume</a>
      </div>
    </div>
  </div>
{% endblock %}