{% extends "base.html" %}

{% block headTags %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}

{% block nav %}
  <li><a href="{{ url_for('home_bp.index') }}" >Home</a></li>
  <li><a href="{{ url_for('projects_bp.index') }}"class="active">Projects</a></li>
  <li><a href="{{ url_for('contact') }}">Contact</a></li>
  <li><a href="{{ url_for('about_bp.index') }}">About</a></li>
{% endblock %}

{% block content %}
  <!-- Splash -->
  <div id="splash" class="panel">
    <img src="{{ url_for('static', filename='images/' + project['thumbnail']['filename']) }}" alt="project['thumbnail']['alt']">
    <div class="splash-title">
      <p>{{ project['thumbnail']['title'] }}</p>
    </div>
    <a class="back-btn" href="{{ url_for('projects_bp.index') }}">
      <img src="{{ url_for('static', filename='icons/backarrow.svg') }}" alt="Return to Projects">
    </a>
  </div>

  <!-- Title -->
  <div id="title">
    <h2>{{ project['title'] }}</h2>
  </div>

  <!-- Description 1 -->
  <div id="description1" class="panel text-panel">
    <h3>Description</h3>
    <p>{{ project['shortDescription'] }}</p>
    <p>{{ project['description'] }}</p>
  </div>

  <!-- Image 1 -->
  <div id="image1" class="panel img-panel">
    <div class="image-title">
      <p>{{ project['image1']['title'] }}</p>
    </div>
    <img src="{{ url_for('static', filename='images/' + project['image1']['filename']) }}" alt="{{ project['image1']['alt'] }}">
  </div>

  <!-- Description 2 -->
  <div id="description2" class="panel text-panel">
    <h3>Technology</h3>
    <p>{{ project['technology'] }}</p>
    <h3>Features</h3>
    <ul>
      {% for feature in project['features']: %}
        <li>{{ feature }}</li>
      {% endfor %}
    </ul>
    <h3>What I Did</h3>
    <ul>
      {% for contribution in project['contributions']: %}
        <li>{{ contribution }}</li>
      {% endfor %}
    </ul>
    <div class="links">
      {% for link in project['links']: %}
        <a href="{{ link['link'] }}" target="_blank">{{ link['title'] }}</a>
      {% endfor %}
    </div>
  </div>

  <!-- Image 2 -->
  {% if 'image2' in project: %}
    <div id="image2" class="panel img-panel">
      <div class="image-title">
        <p>{{ project['image2']['title'] }}</p>
      </div>
      <img src="{{ url_for('static', filename='images/' + project['image2']['filename']) }}" alt="project['image2']['alt']">
    </div>
  {% endif %}
{% endblock %}